html {
	background-color: #F8F8F8 ;
}

body {
	background-color: #FFFFFF ;
	color: #000000 ;
	font-family: Helvetica, Arial, sans-serif ;
	font-size: 100%;
	text-align: justify ;
	line-height: 1.25 ;
	margin: 16px auto ;
	padding: 32px ;
	border: solid #a0a0a0 1px ;
	border-radius: 20px ;
	max-width: 70em ;
	width: 90% ;
}

h1, h2, h3, h4 {
	color: #000080 ;
	font-family: Verdana, Geneva, sans-serif ;
	font-weight: normal ;
	font-style: normal ;
	text-align: left ;
}

h1 {
	font-size: 28pt ;
}

h1 img {
	vertical-align: text-bottom ;
}

h2:before {
	content: "\2756" ;
	padding-right: 0.5em ;
}

a {
	text-decoration: none ;
}

a:link {
	color: #000080 ;
}

a:link:hover, a:visited:hover {
	background-color: #D0D0FF ;
	color: #000080 ;
	border-radius: 4px ;
}

a:link:active, a:visited:active {
	color: #FF0000 ;
}

pre {
	color: black ;
	font-family: monospace ;
	font-size: 11pt ;
  margin-top: 1em ;
	padding: 10px ;
	border-radius: 8px ;
	border: solid #a0a0a0 2px ;
	background-color: #EFEFFF ;
}

table {
    border-collapse: collapse;
		width: 100%;
}

table, td {
	padding: 4px ;
	vertical-align: top ;
	background-color: #f0f0ff ;
	border: none; 
}

td, th {
  border-bottom: 2px solid #dedefe;
}

th {
  padding: 4px ;
	vertical-align: top ;
	background-color: #dedefe ;
	border: none ; 
}

img {
	background-color: white ;
}

h3 code {
	font-family: inherit ;
	font-size: inherit ;
}

pre, code {
	font-size: 11pt ;
}

